{% extends 'public/base.html' %}
{% load static %}
{% block main %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">忘记密码</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="请输入手机号" value="{{ datas.username }}" class="login-password">
        <p class="am-text-danger">{{ errors.username.0 }}</p>
        <div class="yzm">
            <input type="text" class="reg-yzm" placeholder="输入验证码"/>
            <input type="button" class="yzm-hq" value="获取验证码"/>
        </div>
        <input type="password" name="password" placeholder="请输入密码" class="login-password">
        <p class="am-text-danger">{{ errors.password.0 }}</p>
        <input type="password" name="rpassword" placeholder="确认密码" class="login-name">
        <p class="am-text-danger">{{ errors.rpassword.0 }}</p>
        <input type="submit" class="login-btn" value="立即提交">
    </form>
{% endblock %}
{% block foot_js %}
    <script>
        $(function () {
            // 绑定获取验证码点击事件
            $(".yzm-hq").on("click", function () {
                var that = this;
                //console.debug(111);
                var phone = $("input[name='username']").val();
                $.get('{% url "users:sendMsg" %}', {
                    'phone': phone,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                }, function (data) {
                    if (data.ok == 1) {
                        //console.debug(data.ok);
                        //console.debug(1111)
                        //设置再次发送验证码时间
                        var time = 60;
                        //改变按钮样式
                        $(that).css("background-color", "gray");
                        //按钮设置为无法再点击
                        $(that).attr("disabled", "disabled");
                        //设置周期性函数,周期为1000毫秒
                        var timer = window.setInterval(function () {
                            --time;
                            $(that).val(time + "后重新获取");
                            if (time == 0) {
                                window.clearInterval(timer);
                                $(that).css("background", "#76bb2a");
                                $(that).removeAttr("disabled");
                                $(that).val("获取验证码");
                            }
                        }, 1000)
                    }
                    else {
                        alert(data.msg)
                    }
                })
            })
        })
    </script>
{% endblock %}
