{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {#        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">#}
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/check.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="javascript:;" class="">个人资料</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if info %}
        <ul class="safty1">
            <li style="height: 120px">
                <i style="margin-top: 25px;">头像</i>
                <div class="infor-pic">
                    <img src="{{ MEDIA_URL }}{{ info.head }}" />
                    <input type="file" name="head" />
                </div>
            </li>
            <li>
                <i>昵称</i>
                <input type="text" name="nickname" class="infor-tele" placeholder="{{ info.nickname }}"
                       value="{{ info.nickname }}"/>
            </li>
            <li>
                <i>性别</i>
                <i class="infor-tele">
                    {% if info.sex == 1 %}
                        <label class="am-radio-inline">
                            <input type="radio" name="sex" value="1" checked="checked" data-am-ucheck>男
                        </label>
                        <label class="am-radio-inline">
                            <input type="radio" name="sex" value="2" data-am-ucheck>女
                        </label>
                    {% else %}
                        <label class="am-radio-inline">
                            <input type="radio" name="sex" value="1" data-am-ucheck>男
                        </label>
                        <label class="am-radio-inline">
                            <input type="radio" name="sex" value="2" checked="checked" data-am-ucheck>女
                        </label>
                    {% endif %}
                </i>
            </li>
            <li>
                <i>生日</i>
                <input type="text" name="birthday" class="infor-tele" placeholder="{{ info.birthday|date:'Y-m-d' }}"
                       value="{{ info.birthday|date:'Y-m-d' }}"/>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                <input type="text" name="school" class="infor-tele" placeholder="{{ info.school }}"
                       value="{{ info.school }}"/>
            </li>
            <li>
                <i>位置</i>
                <input type="text" name="address" class="infor-tele" placeholder="{{ info.address }}"
                       value="{{ info.address }}"/>
            </li>
            <li>
                <i>故乡</i>
                <input type="text" name="hometown" class="infor-tele" placeholder="{{ info.hometown }}"
                       value="{{ info.hometown }}"/>
            </li>
            <li>
                <i>手机</i>
                <input type="text" name="phone" class="infor-tele" placeholder="{{ info.phone }}"
                       value="{{ info.phone }}"/>
            </li>
        </ul>
        <input type="submit" class="login-btn" value="修改信息"/>
    {% else %}
        <ul class="safty1">
            <li>
                <i style="margin-top: 25px;">头像</i>
                <div class="infor-pic">
                    <img src="{% static 'images/infortx.png' %}"/>
                </div>
            </li>
            <li>
                <i>昵称</i>
                <input type="text" name="nickname" class="infor-tele" placeholder="请输入昵称"/>
            </li>
            <li>
                <i>性别</i>
                <i class="infor-tele">
                    <label class="am-radio-inline">
                        <input type="radio" name="sex" value="1" checked="checked" data-am-ucheck>男
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="sex" value="2" data-am-ucheck>女
                    </label>
                </i>
            </li>
            <li>
                <i>生日</i>
                <input type="text" name="birthday" class="infor-tele" placeholder="请填写生日"/>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                <input type="text" name="school" class="infor-tele" placeholder="请填写学习校"/>
            </li>
            <li>
                <i>位置</i>
                <input type="text" name="address" class="infor-tele" placeholder="请填写地址"/>
            </li>
            <li>
                <i>故乡</i>
                <input type="text" name="hometown" class="infor-tele" placeholder="请填写故乡"/>
            </li>
            <li>
                <i>手机</i>
                <input type="text" name="phone" class="infor-tele" placeholder="请填写手机号码"/>
            </li>
        </ul>
        <input type="submit" class="login-btn" value="保存信息"/>
    {% endif %}
</form>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
</body>
</html>
