{% extends 'public/base.html' %}
{% load static %}
{% block main %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">购物车</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <!--购物车空的状态-->
    {% if not data %}
        <div class="login-logo">
            <img src="{% static 'images/care.png' %}">
            <p>亲、您的购物车还是空空的哦，快去装满它!</p>
            <a href="{% url 'goods:首页' %}" class="goshopping">前去逛逛</a>
        </div>
    {% else %}
        <ul class="shopcart-list">
            {% for g in data %}
                <li>
                    <label class="am-checkbox am-warning">
                        <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
                    </label>
                    <a href="../goods/detail.html"><img src="{{ MEDIA_URL }}{{ g.logo_url }}" class="shop-pic"/></a>
                    <div class="shop-list-mid">
                        <div class="tit"><a href="../goods/detail.html">{{ g.good_id.name }}&emsp;{{ g.name }}</a>
                        </div>
                        <b class="shop-list-price">￥{{ g.price }}</b>
                    </div>
                    <div class="list-cart1">
                        <div class="d-stock">
                            <a href="javascript:;" class="decrease">-</a>
                            <input id="num" readonly="" sku_id="{{ g.pk }}" class="text_box" name="" type="text"
                                   value="{{ g.num }}">
                            <a href="javascript:;" class="increase">+</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="shop-fix">
            <label class="am-checkbox am-warning">
                <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
            </label>
            <a class="del">全选</a>
            <a href="../tureorder.html" class="js-btn">去结算</a>
            <div class="js-text">
                <P>合计：<b id="price">￥</b></P>
                <p class="js-car">免费配送</p>
            </div>
        </div>
    {% endif %}

    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'goods:首页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="../message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="" class="curr">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="../allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'users:member' %}">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block foot_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                self.siblings('input').val(current_num);
                var sku_id = $(this).prev().attr("sku_id");
                var num = $(this).prev().val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'cart:CartAdd' %}",
                    dataType: "json",
                    data: {
                        "num": num,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "sku_id": sku_id,
                    },
                    success: function (data) {
                        console.debug(data)
                    }
                });
            });
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num >= 0) {
                    current_num -= 1;
                    self.siblings('input').val(current_num);
                    var sku_id = $(this).next().attr("sku_id");
                    var num = $(this).next().val();
                    //console.debug(sku_id, num);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'cart:CartReduce' %}",
                        dataType: "json",
                        data: {
                            "num": num,
                            "sku_id": sku_id,
                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                        },
                        success: function (data) {
                            console.debug(data)
                        }
                    });
                    if (current_num == 0) {
                        location.reload()
                    }
                }
            });
        });
        // 显示购物车商品总价
        $(function () {

        })
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}
